@mixin iconfont1($rootPath) {
    @font-face {
        font-family: "iconfont";
        src: url('#{$rootPath}/fonts/font1/iconfont.eot?t=1480313600174'); /* IE9*/
        src: url('#{$rootPath}/fonts/font1/iconfont.eot?t=1480313600174#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$rootPath}/fonts/font1/iconfont.woff?t=1480313600174') format('woff'), /* chrome, firefox */
        url('#{$rootPath}/fonts/font1/iconfont.ttf?t=1480313600174') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('#{$rootPath}/fonts/font1/iconfont.svg?t=1480313600174#iconfont') format('svg'); /* iOS 4.1- */
    }
}

@mixin clear {
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder($fontsize,$color) {
    &{
        ::-webkit-input-placeholder {
            font-size:$fontsize;
            color: $color;
        }
        :-moz-placeholder {
            font-size:$fontsize;
            color: $color;
        }
        ::-moz-placeholder {
            font-size:$fontsize;
            color: $color;
        }
        :-ms-input-placeholder {
            font-size:$fontsize;
            color: $color;
        }
    }
}
